include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 如何关闭免保证金用车
body
    .header
        span.text 操作流程
    ul.list
        li.item
            .title
                span.index 1
                span 打开
                span.strong “支付宝”
            img.img(src=require('./images/step_1.jpg'))
        li.item
            .title
                span.index 2
                span.strong 支付宝 >
                span  点击
                span.strong “我的”
            img.img(src=require('./images/step_2.jpg'))
        li.item
            .title
                span.index 3
                span.strong 支付宝 > 我的 >
                span  选择
                span.strong “芝麻信用”
            img.img(src=require('./images/step_3.jpg'))
        li.item
            .title
                span.index 4
                span 点击
                span.strong “信用管理”
            img.img(src=require('./images/step_4.jpg'))
        li.item
            .title
                span.index 5
                span 选择
                span.strong “授权管理”
            img.img(src=require('./images/step_5.jpg'))

