include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx132
    title 合伙人十月返现榜单揭晓
body
    .content
        img(src=require('./images/01.jpg'))
        img(src=require('./images/02.jpg'))
        img(src=require('./images/03.jpg'))
        img(src=require('./images/04.jpg'))
        img(src=require('./images/05.jpg'))
    .footer 立刻赚赏金

